@use '@/styles/_mixins' as mix;
.user-form { display:flex; flex-direction:column; --control-height-input: 25px; /* OrangeAlex delgado */
  &__group{ margin-bottom:0.75rem; display:flex; flex-direction:column; }
  input, select, textarea { @include mix.input-compact(); }
  .error{ color:#b00020; font-size:0.9rem; }
  &__actions{ display:flex; gap:0.5rem; margin-top:0.25rem; }
}
