// src/layout/Footer/Footer.scss
@use '@/styles/variables' as vars;

.footer {
  font-size: 1.1rem;
  background-color: vars.$main-color;
  padding: 5px 0;
  box-shadow: vars.$box-shadow;
  width: 100%;

  //height: calc(vars.$header-height / 2);
  height: 7%;

  // 2. Usa Flexbox para centrar el contenido verticalmente en la nueva altura.
  display: flex;
  align-items: center;

  &__container {
    // Hereda los estilos de .container global, pero podemos añadir específicos aquí.
    padding: 0 50px;
    width: 100%;
    margin: auto;
    max-width: 1620px;
  }

  &__text {
    text-align: right;
    color: vars.$txt-white;
    font-weight: bold;
  }

  &__date {
    text-align: right;
    color: vars.$txt-white;
  }
}
