// --- 🎨 Variables de Diseño ---
$color-fondo-board: #f4f5f7;
$color-fondo-columna: #ebecf0;
$color-fondo-tarjeta: #ffffff;
$color-texto-principal: #172b4d;
$color-texto-secundario: #5e6c84;
$color-avatar-fondo: #dfe1e6;
$color-avatar-texto: #42526e;
$color-fecha-ok: #36b37e; // Verde
$color-fecha-vencida: #de350b; // Rojo
$sombra-tarjeta: 0 1px 1px rgba(9, 30, 66, 0.25);
