@use '@/styles/variables' as vars;

.header {
  height: vars.$header-height;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: #d8d6c9; // Fondo gris para el contenedor header
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;
  z-index: 1000;
}
